mongo = {
    'connection': 'localhost',
    'database': 'crip'
}

ckan = {
  'host': 'http://localhost:5000',
  'apikey': '',
  'user_agent': 'infona_to_ckan'
}

dev = True # false for production
dev_password = 'Password1'
perform_update = True
update_existing = True

tmp_file_dir = '/tmp/infona/'